
<div id="wholeScreen">

	<div id="screenBG">
	</div>

	<div id="groupDiv" class="" ng-click="showAthletes()">
		<span class="center-align">
			<i class="material-icons btnIcon">group</i>
		</span>
	</div>

	<div id="counterDiv" ng-click="clicked()">
	</div>

	<div id="athleteName">
		<p class="name center-align">{{currentAthlete}}</p>
	</div>

	<div id="cadenceValues">
		<h4 id="readoutText" class="readout center-align">{{avgSecond}}s / {{avgRPM}} rpm</h4>
	</div>

	<div id="counterDivBG">
	</div>

	<div id="resultsDiv" class="">
		<span class="center-align">
			<i class="material-icons btnIcon">list</i>
		</span>
	</div>

	<div id="athleteList" ng-show="showAthleteList">
		<div class="athleteCard" ng-repeat="athlete in athletes" layout="row" flex="90" flex-offset="5" ng-click="selectAthlete(athlete)">{{athlete}}
		</div>
	</div>



</div>


