/*MAIN SCREEN*/

#wholeScreen {
	width: calc(100vw);
	height: calc(100vh);
	position: relative;
}

#screenBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #222;
	z-index: -10;
}

#athletesBtn {
	position: absolute;
	top: 15px;
	right: 15px;
	background: #600;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 9;
}

.btnIcon {
	color: white;
	font-size: 30px;
	padding: 10px;
}

.btnSelected {
	border: 1px solid white;
}

#counterDivBG {
	position: absolute;
	top: calc(50% - 50vw + 10px);
	left: 15px;
	background: #000;
	width: calc(100vw - 30px);
	height: calc(100vw - 30px);
	border-radius: 50%;
	z-index: -1;
}

#counterDiv {
	position: absolute;
	top: calc(50% - 50vw + 10px);
	left: 15px;
	background: transparent;
	border: 2px #444 solid;
	width: calc(100vw - 30px);
	height: calc(100vw - 30px);
	border-radius: 50%;
	z-index: 6;
}

#cadenceValues {
	position: absolute;
	top: 46%;
	left: 0;
	width: 100%;
	z-index: 4;
}

#stopCounterBtn {
	position: absolute;
	top: calc(50vh + (50vw - 30px) + 50px);
	left: calc(50% - 20px);
	/*background: red;*/
	width: 40px;
	height: 40px;
	border-radius: 50%
	z-index: 6;
}

.stopIcon {
	color: #444;
	font-size: 40px;
	/*padding: 5px;*/
}

h4.readout {
	margin: 0;
	color: #fff;
	font-size: 2.5rem;
}

#athleteName {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
	z-index: 4;
}

p.name {
	color: #e2bb2d;
	font-size: 1.5rem;
}

#resultsBtn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: #006;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 9;
}

.animCounter {
	animation: colorBorderCycle 0.5s infinite alternate;
}

@keyframes colorBorderCycle {
	from {border: 2px red solid;}
	to {border: 2px yellow solid;}
}

/*ATHLETE LIST*/
#athleteList {
	position: absolute;
	width: calc(100vw - 80px);
	top: 80px;
	left: 40px;
	z-index: 10;
}

.listTitle {
	padding: 5px;
	color: #888;
	font-size: 1.5rem;
}

.listCard {
	padding: 5px;
	color: #ddd;
	font-size: 1.75rem;
	margin-bottom: 0;
}

#listBG {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 8;
	top: 0;
	left: 0;
	display: none;
}

/*RESULTS*/
#resultList {
	position: absolute;
	width: calc(100vw - 40px);
	top: 50px;
	left: 20px;
	z-index: 11;
}

.resultSpan {
	font-size: 1.5rem;
	color: #888;
}

#clearAllResults {
	border: 1px #888 solid;
	margin-top: 10px;
}



