#wholeScreen {
	width: calc(100vw);
	height: calc(100vh);
	position: relative;
}

#screenBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #222;
	z-index: -2;
}

#groupDiv {
	position: absolute;
	top: 15px;
	right: 15px;
	background: red;
	width: 50px;
	height: 50px;
	border-radius: 50%
}

.groupIcon {
	color: white;
	text-align: center;
	font-size: 3rem;
}

#counterDivBG {
	position: absolute;
	top: calc(50% - 50vw + 10px);
	left: 15px;
	background: #000;
	width: calc(100vw - 30px);
	height: calc(100vw - 30px);
	border-radius: 50%;
	z-index: -1;
}

#counterDiv {
	position: absolute;
	top: calc(50% - 50vw + 10px);
	left: 15px;
	background: transparent;
	border: 2px #444 solid;
	width: calc(100vw - 30px);
	height: calc(100vw - 30px);
	border-radius: 50%;
	z-index: 8;
}

#cadenceValues {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

h4.readout {
	margin: 0;
	color: #fff;
}

#athleteName {
	position: absolute;
	top: 35%;
	left: 0;
	width: 100%;
}

p.name {
	color: yellow;
	font-size: 1.2rem;
}

#resultsDiv {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: blue;
	width: 50px;
	height: 50px;
	border-radius: 50%
}

.animCounter {
	animation: colorBorderCycle 0.5s infinite alternate;
}

@keyframes colorBorderCycle {
	from {border: 2px red solid;}
	to {border: 2px yellow solid;}
}

